$btn-round: 15px;

.ugli-range {
  &-container {
    position: relative;
    width: 200px;
    height: 40px;
  }

  &-btn {
    width: $btn-round;
    height: $btn-round;
    border-radius: 50%;
    background: linear-gradient(-45deg, #fbc8d4 30%, #d8a3fd 70%);
    z-index: 2;
  }

  &-middle {
    position: absolute;
    left: $btn-round/2;
    top: 50%;
    transform: translateY(-50%);
  }

  &-btn.ugli-range-middle {
    left: 0;
  }

  &-noncover {
    background-color: #666;
    width: calc(100% - #{$btn-round} / 2);
    height: 2px;
  }

  &-cover {
    width: 0;
    height: 4px;
    background: linear-gradient(-90deg, #d8a3fd, #726fd4);
  }
}
